<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.mocklocationcheck" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>MockLocationCheck</name><js-module name="MockLocationCheck" src="www/MockLocationCheck.js"><clobbers target="cordova.plugins.MockLocationCheck" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="MockLocationCheck"><param name="android-package" value="cordova.plugin.mocklocationcheck.MockLocationCheck" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/MockLocationCheck.java" target-dir="src/cordova/plugin/mocklocationcheck/MockLocationCheck" /></platform></plugin>